<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <style>
        body 		{ padding-top:80px; }
    </style>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/api.js"></script>
    <script src="js/console.js"></script>

</head>
<body>
<div class="container" style="margin: auto; float:left">
    <h1>User Creation</h1>
    <br />
    <form id="addUserSelf">

        <input type="text" name="fname" value="" placeholder="First name(optional)" />
        <br />
        <input type="text" name="lname" value="" placeholder="Last name(optional)" />
        <br />
        <input type="text" name="username" value="" placeholder="Username" required />
        <br />
        <input type="password" id='addUserPassword' name="password" value="" placeholder="Password" required />
        <br />
        <input type="checkbox" onchange="document.getElementById('addUserPassword').type =
                                this.checked ? 'text' : 'password'"> Show password
        <br />
        <input type="text" name="crn" value = "<%= crn %>" hidden />
        <input type="text" name="instructor" value = "<%= instructor %>" hidden />
        <input type="text" name="token" value = "<%= token %>" hidden />
        <select name="usertype" hidden>
            <option value="2" selected="selected">Student</option>
        </select>
        <br>
        <input type="submit" value="Create Account">
    </form>

    <script>
        addUserSelf("#addUserSelf",function(data){
            if(data.error)
                showError('Error: '+data.error.code);
            else{
                alert('Account created!');
                window.url="http://cesrreader.com";

            }
            console.log(data);
        });
    </script>
</div>

<div class="container" style="margin: auto;">
    <h1>User Login</h1>
    <br />
    <form id="addUserExist">

        <input type="text" name="username" value="" placeholder="Username" required />
        <br />
        <input type="password" id='addUserExistPassword' name="password" value="" placeholder="Password" required />
        <br />
        <input type="checkbox" onchange="document.getElementById('addUserExistPassword').type =
                                this.checked ? 'text' : 'password'"> Show password
        <br />
        <input type="text" name="crn" value = "<%= crn %>" hidden />
        <input type="text" name="instructor" value = "<%= instructor %>" hidden />
        <input type="text" name="token" value = "<%= token %>" hidden />
        <br>
        <input type="submit" value="Login and Enroll">
    </form>

    <script>

        addUserExist("#addUserExist",function(data){
            if(data.error)
                showError('Error: '+data.error.code);
            else{
                alert('Account enrolled!');
                window.url="http://cesrreader.com";
            }
            console.log(data);
        });
    </script>
</div>
</body>
</html>



